.form {
  display: flex;
  flex-direction: column;
  min-width: calc(100% - 72px);
  align-self: center;
  padding-bottom: 37px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .form {
    min-width: calc(100% - 44px);
    padding-bottom: 25px;
  }
}
