.profile {
  min-width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    row-gap: 36px;
  }
}
