.place__like-button {
  padding: 0;
  width: 22px;
  height: 19px;
  background: none;
  border: 0;
  background-image: url("../../../images/like.svg");
  cursor: pointer;
  transition: opacity .5s linear;
}

.place__like-button:hover {
  opacity: .5;
}
